venv/
__pycache__/
*.pyc
.env
credentials.json
bot.log
.DS_Store
.idea/
.vscode/
ngrok
ngrok-stable-linux-amd64.zip
ngrok-v3-stable-linux-amd64.tgz
bbk_miniapps/backend/venv/
bbk_miniapps/backend/.env
bbk_miniapps/backend/credentials.json
bbk_miniapps/bot/bot.log
bbk_miniapps/bot/credentials.json
bbk_miniapps/frontend/node_modules/
bbk_miniapps/frontend/.next/
bbk_miniapps/frontend/.env.local
